@page "~/sobre"
@model About


@{
    Layout = null;
    ViewData["Title"] = "Sobre";
}

<link rel="stylesheet" href="~/css/site.css" />
<a href="~/">Voltar</a>
<h1>@ViewData["Title"]</h1>

<div>
    
</div>

@section Scripts {
    <script src="~/js/site.js" asp-append-version="true"></script>
}

