<!DOCTYPE html>
<html>

<head>
	<title>Photon</title>

	<meta charset="UTF-8">
	<!-- <meta http-equiv="Content-Security-Policy"
		content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'"> -->

	<!-- Stylesheets -->
	<link rel="stylesheet" href="assets/css/photon.css">
	<link rel="stylesheet" href="assets/css/styles.css">

	<!-- Electron Javascript -->
	<!-- <script src="app.js" charset="utf-8"></script> -->

</head>

<body>

	<div class="window">
		<header class="toolbar toolbar-header">
			<h1 class="title">Loja XS</h1>
			<div class="toolbar-actions">
				<div class="btn-group">
					<button class="btn btn-default">
						<span class="icon icon-home"></span>
					</button>
					<button class="btn btn-default">
						<span class="icon icon-folder"></span>
					</button>
					<button class="btn btn-default active">
						<span class="icon icon-cloud"></span>
					</button>
					<button class="btn btn-default">
						<span class="icon icon-popup"></span>
					</button>
					<button class="btn btn-default">
						<span class="icon icon-shuffle"></span>
					</button>
				</div>

				<button class="btn btn-default">
					<span class="icon icon-home icon-text"></span>
					Filters
				</button>

				<button class="btn btn-default btn-dropdown pull-right">
					<span class="icon icon-megaphone"></span>
				</button>
			</div>
		</header>
		<div class="window-content">
			<div class="pane-group">
				<div class="pane-sm sidebar">...</div>
				<div class="pane">
					<table class="table-striped">
						<thead>
							<tr>
								<th>Nome</th>
								<th>CPF</th>
								<th>Telefone</th>
							</tr>
						</thead>
						<tbody id="app">
							<tr v-for="cliente in clientes">
								<td>{{ cliente.nome }}</td>
								<td>{{ cliente.cpf }}</td>
								<td>{{ cliente.telefone }}</td>
							</tr>
						</tbody>

					</table>

				</div>
			</div>
		</div>
	</div>
	<footer class="toolbar toolbar-footer">
		<h1 class="title">Desenvolvido por: @leonardodssilva</h1>
	</footer>
	</div>
	<div id="modal" v-if="openModal" class="modal">
		<div class="wrapper">
			<form action="" class="pane-body" id="formCliente">
				<h3>Cadastro de Cliente</h3>
				<div class="form-group">
					<label for="nome">Nome</label>
					<input type="text" name="nome" id="nome" class="form-control" placeholder="Digite seu nome">
				</div>
				<div class="form-group">
					<label for="cpf">CPF</label>
					<input type="text" name="cpf" id="cpf" class="form-control" placeholder="Digite seu CPF">
				</div>
				<div class="form-group">
					<label for="telefone">Telefone</label>
					<input type="text" name="telefone" id="telefone" class="form-control"
						placeholder="Digite seu telefone">
				</div>
				<button class="btn btn-positive btn-block" id="btnSalvar">Cadastrar</button>
				<button class="btn btn-negative btn-block" id="btnCancelar">Cancelar</button>

			</form>
		</div>
	</div>
</body>
<script>
	let read = require('read-file-utf8');
	let loki = require('lokijs');
	let db = new loki('db.json');

	const filePath = __dirname + '/db.json';
	const objetoJson = require(filePath);
	db.loadJSON(JSON.stringify(objetoJson));

	let clientes = db.getCollection('clientes');

	const createApp = require('vue').createApp

	const app = createApp({
		data() {
			return {
				clientes: [],
				openModal: false
			}
		},
		mounted() {
			this.clientes = clientes.data;
		}
	})

	app.mount('#app')

</script>

</html>